/* 

---------- TYPOGRAPHY ----------

FONT SIZES
12px / 16px / 20px / 24px / 32px / 40px / 48px / 62px

FONT WEIGHT
400 / 700

LINE HEIGHT
1.2 / 1.5

LETTER SPACING
0 / -2px

FONT FAMILY
"M PLUS Rounded 1c", serif

---------- COLORS ----------

PRIMARY
Base: #339af0 (Sky Blue)
Tint: #d0ebff (Arctic)
Shade: #1c7ed6 (Deep Sea)

SECONDARY COLOR
Base: #9775fa (Lavender)
Tint: #e5dbff (Moonlight Iris)
Shade: #7048e8 (Velvet Night)

TERTIARY COLOR 
Base: #ff922b (Pumpkin)
Tint: #ffe8cc (Dawn)
Shade: #f76707 (Lava)

GREY
Base: #495057 (Slate)
Tint: #f1f3f5 (Pebble)
Shade: #212529 (Graphite)
White: #ffffff (White)
Black: #000 (Black)

*/

/* ---------- BORDER RADIUS ---------- 
 4px / 8px / 20px 

   ---------- SPACING SYSTEM ---------- 
 5px / 10px / 15px / 20px / 25px / 30px / 40px / 50px / 60px / 70px / 80px / 90px / 100px / 125px / 150px / 200px / 250px / 300px / 400px / 500px

 */


 :root{
    /* ---------- TYPOGRAPHY ---------- */


/* FONT SIZES */
    --text-sm: 1.2em;
    --text-base: 1.6em;
    --text-p: 2em;
    --text-h5: 2.4em;
    --text-h4: 3.2em;
    --text-h3: 4em;
    --text-h2: 4.8em;
    --text-h1: 6.2em;

/* FONT WEIGHT */
    --text-normal: 400;
    --text-bold: 700;

/* LINE HEIGHT */
    --line-height-tight: 1.2;
    --line-height-normal: 1.5;

/* LETTER SPACING */
    --letter-space-tight: -2px;

/* FONT FAMILY */
    --font-family: "M PLUS Rounded 1c", serif; 

    /* ---------- COLORS ---------- */

/* PRIMARY */
    --primary-tint: #a3e635;
    --primary-base: #4d7c0f;
    --primary-shade: #365314;

/* SECONDARY */

    --secondary-tint: #fde047;
    --secondary-base: #eab308;
    --secondary-shade: #a16207;

/* TERTIARY */

    --tertiary-tint: #f0abfc;
    --tertiary-base: #d946ef;
    --tertiary-shade: #86198f;

/* GRAY */

    --grey-base: #495057;
    --grey-tint: #f1f3f5;
    --grey-shade: #212529;

    --white: #fff;
    --black: #000;
 }

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
