/* 

---------- TYPOGRAPHY ----------

FONT SIZES
12px / 16px / 20px / 24px / 32px / 40px / 48px / 62px

FONT WEIGHT
400 / 700

LINE HEIGHT
1.2 / 1.5

LETTER SPACING
0 / -2px

FONT FAMILY
"M PLUS Rounded 1c", serif

---------- COLORS ----------

PRIMARY
Base: #339af0 (Sky Blue)
Tint: #d0ebff (Arctic)
Shade: #1c7ed6 (Deep Sea)

SECONDARY COLOR
Base: #9775fa (Lavender)
Tint: #e5dbff (Moonlight Iris)
Shade: #7048e8 (Velvet Night)

TERTIARY COLOR 
Base: #ff922b (Pumpkin)
Tint: #ffe8cc (Dawn)
Shade: #f76707 (Lava)

GREY
Base: #495057 (Slate)
Tint: #f1f3f5 (Pebble)
Shade: #212529 (Graphite)
White: #ffffff (White)
Black: #000 (Black)

*/

/* ---------- BORDER RADIUS ---------- 
 4px / 8px / 20px 

   ---------- SPACING SYSTEM ---------- 
 5px / 10px / 15px / 20px / 25px / 30px / 40px / 50px / 60px / 70px / 80px / 90px / 100px / 125px / 150px / 200px / 250px / 300px / 400px / 500px

 */


 :root{
    /* ---------- TYPOGRAPHY ---------- */


/* FONT SIZES */
    --text-sm: 1.2rem;
    --text-base: 1.6rem;
    --text-p: 2rem;
    --text-h5: 2.4rem;
    --text-h4: 3.2rem;
    --text-h3: 4rem;
    --text-h2: 4.8rem;
    --text-h1: 6.2rem;

/* FONT WEIGHT */
    --text-normal: 400;
    --text-bold: 700;

/* LINE HEIGHT */
    --line-height-tight: 1.2;
    --line-height-normal: 1.5;

/* LETTER SPACING */
    --letter-space-tight: -2px;

/* FONT FAMILY */
    --font-family: "M PLUS Rounded 1c", serif; 

    /* ---------- COLORS ---------- */
    --primary-bg: #e6eadf;
/* PRIMARY */
    --primary-tint: #a3e635;
    --primary-base: #4d7c0f;
    --primary-shade: #365314;

/* SECONDARY */

    --secondary-tint: #fde047;
    --secondary-base: #eab308;
    --secondary-shade: #a16207;

/* TERTIARY */

    --tertiary-tint: #f0abfc;
    --tertiary-base: #d946ef;
    --tertiary-shade: #86198f;

/* GRAY */

    --grey-base: #495057;
    --grey-tint: #f1f3f5;
    --grey-shade: #212529;

    --white: #fff;
    --black: #000;
 }

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
body{
    line-height: var(--line-height-normal);
    font-family: var(--font-family);
    font-weight: var(--text-normal);
    color: var(--grey-base);
    /* background: rgb(147,149,108);
    background: radial-gradient(circle, rgba(147,149,108,1) 0%, rgba(73,115,82,1) 100%); */
}
.main-container{
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
    text-align: center;
}

h1,h2,h3,h4,h5{
    font-weight: var(--text-bold);
    letter-spacing: var(--letter-space-tight);
    line-height: var(--line-height-tight);
    color: var(--grey-shade);
    
}

h1{
    font-size: var(--text-h1);
}
h2{
    font-size: var(--text-h2);
}
h3{
    font-size: var(--text-h3);
}
h4{
    font-size: var(--text-h4);
}
h5{
    font-size: var(--text-h5);
}
p{
    font-size: var(--text-p);
}
a{
    font-size: var(--text-base);
    text-decoration: none;
    display: inline-block;
}
ul{
    list-style: none;
}
.small-text{
    font-size: var(--text-sm);
}

/* ============ buttons ============ */

.btn{
    color: white;
    background-color: var(--primary-base);
    padding: 1.5rem 3rem;
    border-radius: 3rem;
    border: .3rem solid var(--grey-shade);
}
